@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: flex-start; /* mantém alinhado no topo (se não quiser no meio da tela) */
  min-width: 320px;
  min-height: 100vh;
}